{% extends "./web_template.html" %}

{% block header %}

{% endblock %}

{% block body %}
    <div class='row'>
        <div class='col-md-12'>
            <h2>Welcome to GradSift.</h2>
            <p style='font-size:18px'>
                To be here, you should have received an email from your prospective employer asking you to complete a GradSift profile.
            </p>
            <a class='btn btn-info' href="/applicant/">Applicant</a>
            <a class='btn btn-primary' href="/employer/">Employer</a>
        </div>
    </div>
{% endblock %}


{% block footer %}
 
{% endblock %}